# Python modules
[ifs_jacker]
[ifs_jacker_temperature_sensor]

[gcode_macro _IFS_JACKER_DISPLAY]
gcode:
    RESPOND PREFIX="info" MSG="IFS Jacker not supported when native screen enabled"

[gcode_macro _IFS_JACKER_CONNECTED]
gcode:
    RESPOND PREFIX="info" MSG="IFS Jacker connected"

[gcode_macro _NO_IFS_JACKER]
gcode:
    RESPOND PREFIX="info" MSG="IFS Jacker not connected"
    
[gcode_macro _IFS_JACKER_VERSION]
gcode:
    {% set version = params.VERSION|float %}
    RESPOND PREFIX="info" MSG="IFS Jacker firmware version {version} or higher required for this feature"

[gcode_macro IFS_JACKER_CHECK_PRESENCE]
gcode:
    IFSJ_CHECK

[gcode_macro IFS_JACKER_GET_STATUS]
gcode:
    IFSJ_Z2
    
[gcode_macro IFS_JACKER_GET_PERIPHERALS]
gcode:
    IFSJ_Z3
    
[gcode_macro IFS_JACKER_GET_PERIPHERAL_STATUSES]
gcode:
    IFSJ_Z4
    
[gcode_macro IFS_JACKER_PERIPHERAL_COMMAND]
gcode:
    {% set peripheral_index = params.PERIPHERAL|default(0)|int %}
    {% set command = params.COMMAND|default(2)|int %}
    {% set param1 = params.PARAM1|default(0)|int %}
    {% set param2 = params.PARAM2|default(0)|int %}
    IFSJ_Z5 PERIPHERAL={peripheral_index} COMMAND={command} PARAM1={param1} PARAM2={param2}

# User
[include ../../user_ifs_jacker.cfg]
